modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "api-tests"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "api-typecheck"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "mobile-typecheck"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "portal-typecheck"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "mockup-typecheck"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "codegen-check"

[[workflows.workflow]]
name = "api-tests"
author = "agent"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run test"

[[workflows.workflow]]
name = "api-typecheck"
author = "agent"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run typecheck"

[[workflows.workflow]]
name = "mobile-typecheck"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"
isValidation = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mobile run typecheck"

[[workflows.workflow]]
name = "portal-typecheck"
author = "agent"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/support-portal run typecheck"

[[workflows.workflow]]
name = "mockup-typecheck"
author = "agent"

[workflows.workflow.metadata]
isValidation = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run typecheck"

[[workflows.workflow]]
name = "codegen-check"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-spec run codegen:check"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
EMAIL_FROM = ""
PORTAL_URL = ""
